#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider-dark {
  // background-color: #fff;
  background: linear-gradient(0deg, #0ba9c4 1.41%, #153b9f 100.37%);
}
